<h1>Cadastramento dos amiguinhos</h1>
  <form action="/cadastrar" method="POST">
    <label for="name">Nome:</label>
    <input type="text" id="name" name="name" >
    <br>
    <label for="status">Estatus:</label>
    <input type="text" id="status" name="status" >
    <br>
    <input type="submit" value="Cadastrar">
    <input type="submit" value="atualizar">
    <br>
  
    <br>
     <form action="/deletar" method="POST">
    <label for="name">Nome:</label>
    <input type="text" id="name" name="name" >
    <br>
    <input type="submit" value="deletar">
    <br>
    <a href="http://localhost:8383/consulta" class="botao-link">Consultar</a>